.main-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #2193b0; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #6dd5ed,
    #2193b0
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #6dd5ed,
    #2193b0
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.MuiTooltip-tooltip {
  background-color: #00000000 !important;
}

.emoji-main-style {
  display: flex;
  width: fit-content;
}

.emoji-style {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  font-size: 48 !important;
  cursor: pointer;
}

.emoji-img {
  width: 24px;
  height: 24px;
}
